:root {
  --first-color: #181c14;
  --second-color: #3c3d37;
  --third-color: #697565;
  --fourth-color: #ecdfcc;
  --font-family: "Alegreya", serif;
}

* {
  color: var(--fourth-color) !important;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
}

.about-container {
  background-color: var(--second-color);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: auto;
  width: 100%;
}

.about-pic {
  aspect-ratio: 4/3;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-apps-d2be9.appspot.com/o/tarkovsky.jpg?alt=media&token=df4d6f95-2efb-4414-9e94-280ca4a15d42");
}

.about-text {
  align-items: center;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
}

.animate {
  opacity: 0;
}

.author,
.info {
  font-size: 1.25rem;
}

a {
  text-decoration: none !important;
}

a:visited,
a:link,
a:active {
  text-decoration: none !important;
}

a:hover {
  color: var(--third-color) !important;
}

.book-image-container {
  aspect-ratio: 2/1;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-apps-d2be9.appspot.com/o/tarkovsky2.jpg?alt=media&token=f26b40af-edf1-4a90-a5c3-0f12218ad9a7");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel {
  aspect-ratio: 16/9;
  width: 75%;
}

.carousel-container {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
}

.carousel-img {
  opacity: 0.2;
}

.carousel-img-container {
  position: relative !important;
}

.carousel-item {
  aspect-ratio: 16/9;
  width: 75%;
}

.custom-navbar {
  background-color: var(--first-color);
  color: var(--fourth-color);
}

footer {
  background-color: var(--first-color);
  padding: 1rem;
  text-align: center;
}

.grid-row {
  height: 100%;
  width: 100%;
}

.hero-image-container {
  align-items: center;
  aspect-ratio: 2/1;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-apps-d2be9.appspot.com/o/stalker.jpg?alt=media&token=f099b44f-386c-4f27-814c-6b47c9e9f4f0");
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-opacity {
  opacity: 0.5;
}

img {
  height: 100%;
  width: 100%;
}

.info {
  margin: 5rem;
}

.last-image-container {
  aspect-ratio: 2/1;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-apps-d2be9.appspot.com/o/sacrifice1.jpg?alt=media&token=796131b2-e8a2-4bc9-a853-4db468d87524");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  margin-left: 15px !important;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 223, 204, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-item {
  margin-right: 25px !important;
}

p {
  text-align: center;
}

.pic {
  background-position: center;
  background-size: cover;
}

.phrase {
  font-size: 1.75rem;
}

.polaroid-container {
  background-color: var(--third-color);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: auto;
  width: 100%;
}

.polaroid-pic {
  aspect-ratio: 4/3;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/web-apps-d2be9.appspot.com/o/polaroid1.jpg?alt=media&token=121132e1-4f20-44a1-ad66-27f956c48adb");
}

.polaroid-text {
  align-items: center;
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
}

.russian-title {
  font-size: 1.25rem;
}

.shadow {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
}

.spanish-title {
  font-size: 1.75rem;
}

span {
  text-align: center;
}

.sub-title {
    font-size: 1.25rem;
}

.text {
  margin-left: 5rem;
  margin-right: 5rem;
}

.text-animation {
  animation-duration: 1.5s;
  animation-name: fade;
  opacity: 1;
}

.title {
  font-size: 2rem;
}

.title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1600px) {
  .author,
  .info,
  .russian-title {
    font-size: 2rem;
  }

  .phrase,
  .spanish-title {
    font-size: 2.25rem;
  }

  .phrase {
    font-size: 2.25rem;
  }

  .text {
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    justify-content: center;
  }
}

@media (max-width: 838px) {
  .author,
  .info,
  .russian-title {
    font-size: 0.75rem;
  }

  .info {
    margin: 1rem;
  }

  .phrase,
  .spanish-title {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .about-container,
  .polaroid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem;
  }

  .about-pic,
  .polaroid-pic {
    width: 75%;
    border-radius: 5%;
  }

  .about-text,
  .polaroid-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
  }

  .carousel,
  .carousel-item {
    width: 100%;
  }

  .info {
    font-size: 0.75rem;
  }
}

@media (max-width: 520px) {
  .author,
  .russian-title {
    font-size: 0.5rem;
  }

  .phrase,
  .spanish-title {
    font-size: 1rem;
  }

  .shadow {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }

  .text {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
