:root {
    --first: #181C14;
    --second: #3C3D37;
    --third: #697565;
    --fourth: #ECDFCC;
}

* {
    color: var(--fourth) !important;
}

a {
    text-decoration:none !important;
}

p {
    text-align: center;
}

.grid-row {
    width: 100%;
    height: 100%;
}

.text {
    margin-left: 5rem;
    margin-right: 5rem;
}

.phrase {
    font-size: 1.75rem;
}

.author, .info {
    font-size: 1.25rem;
}

.info {
    margin: 5rem;
}

/* navbar */
.navbar-collapse {
    display: flex;
    justify-content: end;
}

.navbar-brand {
    margin-left: 15px !important;
}

.nav-item {
    margin-right: 25px !important;
}

.custom-navbar {
    background-color: var(--first);
    color: var(--fourth);
}

.navbar-toggler-icon {
    /* change fourth color format from hex to rgba */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 223, 204, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}
  

/* hero */
.hero-image-container {
    width: 100%;
    aspect-ratio: 2/1;
    background-image: url('../ignore/stalker.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* about */ 
.about-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.about-text {
    background-color: var(--second);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-pic {
    aspect-ratio: 4/3;
    background-image: url('../ignore/tarkovsky.jpg');
    background-size: cover;
    background-position: center;
}

/* responsive design */
@media (max-width: 991px) {
    .navbar-collapse {
        justify-content: center;
    }
}

@media (max-width: 838px) {
    .phrase {
        font-size: 1.25rem
    }

    .author, .info {
        font-size: 0.75rem;
    }

    .info {
        margin: 1rem;
    }
}

@media (max-width: 600px) {
    .info {
        font-size: 0.75rem;
    }

    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 2.5rem;
        background-color: var(--second);
    }

    .about-pic {
        width: 75%;
        border-radius: 5%;
    }
}

@media (max-width: 520px) {
    .text {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .phrase {
        font-size: 1rem;
    }

    .author{
        font-size: 0.5rem;
    }
}